@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Open-Sans", sans-serif;
  font-style: normal; }

header {
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px; }
  header h1 {
    font-size: 40px;
    font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 600; }

label {
  font-size: 1.5rem;
  font-weight: 500; }

button {
  padding: 10px 0;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: lightgreen;
  font-size: 20px;
  font-weight: 500; }
  button:hover {
    background-color: green;
    color: white; }

input {
  padding: 10px 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  width: 100%; }

.container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between; }
  .container .left-block {
    width: 25%; }
    .container .left-block .add-block {
      border: 1px solid gray;
      padding: 15px 15px;
      border-radius: 3px;
      background-color: rgba(231, 241, 206, 0.479);
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .container .left-block .add-block > * {
        margin-bottom: 10px; }
      .container .left-block .add-block button {
        padding: 10px 30px; }
  .container .center-block {
    width: 45%; }
    .container .center-block .list-block {
      border: 1px solid gray;
      padding: 15px 15px;
      border-radius: 3px; }
      .container .center-block .list-block > * {
        margin-bottom: 10px; }
      .container .center-block .list-block h3 {
        font-size: 2rem;
        font-weight: 600; }
      .container .center-block .list-block .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 500;
        text-align: center; }
        .container .center-block .list-block .item .item-id {
          width: 10%; }
        .container .center-block .list-block .item .item-name {
          width: 60%; }
        .container .center-block .list-block .item .item-price {
          width: 20%; }
        .container .center-block .list-block .item .item-actions {
          width: 8%; }
          .container .center-block .list-block .item .item-actions a {
            width: 100%;
            height: auto;
            cursor: pointer; }
            .container .center-block .list-block .item .item-actions a img {
              width: 40px;
              height: auto; }
              .container .center-block .list-block .item .item-actions a img:hover {
                filter: invert(40%) sepia(58%) saturate(4303%) hue-rotate(340deg) brightness(93%) contrast(114%); }
  .container .right-block {
    width: 25%; }
    .container .right-block .stats-block {
      border: 1px solid gray;
      padding: 15px 15px;
      border-radius: 3px;
      margin-bottom: 20px;
      background-color: rgba(231, 241, 206, 0.479);
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 500; }
      .container .right-block .stats-block > * {
        margin-bottom: 10px; }
    .container .right-block .discount-block {
      border: 1px solid gray;
      padding: 15px 15px;
      border-radius: 3px;
      background-color: rgba(231, 241, 206, 0.479);
      display: flex;
      flex-direction: column;
      font-size: 1.5rem;
      font-weight: 500; }
      .container .right-block .discount-block > * {
        margin-bottom: 10px; }
      .container .right-block .discount-block .set-discount {
        display: flex;
        justify-content: space-between; }
        .container .right-block .discount-block .set-discount input {
          width: 65%; }
        .container .right-block .discount-block .set-discount button {
          width: 30%; }

/*# sourceMappingURL=index.css.map */
